<!--<%=  @articles.inspect %>-->
<div class="container" style="margin:0 auto;">

<h1>Articulos</h1>
<div class="row">
	<%= render @articles %>
</div>
<div class="top-space top-center">
<%= will_paginate @articles %>
</div>
</div>



<%= articles_as_json(@articles) %>